.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    margin-top: 5vh;

    .blog-card {
        margin-top: 4em;
        width: 30%;
        border-radius: $border-radius;
        background: $white;
        box-shadow: $box-shadow-blog-card;

        &-img {
            border-radius: $border-radius;
            box-shadow: $box-shadow-blog-img;
            width: 90%;
            display: block;
            margin: -5em auto 0;
            object-fit: cover;
            height: 50%;
        }
        &-content{
            padding: 2em 2em 1em;
            height: calc(50% + 4em);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

}